header{
    text-align: center;
    /* font-size: 11px; */
    
}
section{
    display: flex;
}
img{
    height: 200px;
    width: 250px;
}
.view{
    text-align: center;
    margin: 30px;
}
.view a{
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 18px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: rgb(54, 198, 54);
}
.FiveBox{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid brown;
    margin: 10px;
}
.FiveBox a{
    color: black;
    text-decoration: none;
}